---
BasedOnStyle: LLVM

ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4

NamespaceIndentation: All
Cpp11BracedListStyle: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeElse: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
    SortPriority: 1
  - Regex: '^".*'
    Priority: 2
    SortPriority: 2